.gallery1 {
    display: flex;  
}

.gallery2{
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

img {
    width: 100%;
}

.skip a {
    position: absolute;
    top: -40px;
  }

.skip a:focus {
    position: absolute;
    top: 20px;
  }